<footer class="footer" v-show="todos.length" v-cloak>
    <span class="todo-count">
        <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
    </span>
    <ul class="filters">
        <li>
            <a href="#/all" @click.prevent="visibility = 'all'" :class="{ selected: visibility == 'all' }">All</a>
        </li>
        <li>
            <a href="#/active" @click.prevent="visibility = 'active'"
                :class="{ selected: visibility == 'active' }">Active</a>
        </li>
        <li>
            <a href="#/completed" @click.prevent="visibility = 'completed'"
                :class="{ selected: visibility == 'completed' }">Completed</a>
        </li>
    </ul>
    <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
        Clear completed
    </button>
</footer>